<p>my-recipes works!</p>

<ul>
  <li *ngFor="let recipe of userRecipeList">
    <ng-container>{{ recipe.title }}</ng-container>

    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        <ng-container>{{ ingredient.name }}</ng-container>
      </li>
    </ul>

    <button (click)="deleteRecipe(recipe.id)">Delete</button>
  </li>
</ul>

<button>Add recipe</button>

<div>
  <form>
    <h1>Add recipe</h1>
    <div>
      <label for="recipe_title">Recipe title</label>
      <input
        type="text"
        id="recipe_title"
        placeholder="Recipe title"
        name="recipe_title"
        required
        autocomplete
        [(ngModel)]="recipe.title"
      />
    </div>

    <div *ngFor="let ingredient of IngredientsList; let i = index">
      <label for="ingredient">{{ ingredient.name }}</label>

      <!-- add ingredients -->
      <!-- disable button if the ingredient is already added -->
      <button
        [disabled]="selectedIngredients.includes(ingredient.name)"
        (click)="addIngredient(ingredient.name, i)"
      >
        +
        {{ recipe.ingredients.includes(ingredient) ? "Added" : "Add" }}
      </button>

      <!-- remove ingredients -->
      <button
        [disabled]="!selectedIngredients.includes(ingredient.name)"
        (click)="removeIngredient(ingredient.name, i)"
      >
        -
      </button>
    </div>

    <div>
      <button (click)="handleAddRecipe()" type="submit">Submit</button>
    </div>
  </form>

  <div>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
